<a href="https://colab.research.google.com/github/val93s/data_wrangling/blob/main/Copy_of_6_3_1_Data_Exploration_Activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Exploration

`Data Exploration` is the first step in any data wrangling process and allows us to familiarize ourselves with the data as well as create a possible plan of action going forward. 

It is important to ask ourselves a few questions as we look at a new dataset:
- What data types are present?
- How large is this dataset?
- What questions can this data answer?
- Which tools would best lend themselves to this data?

## Absenteeism at Work
Let's explore the Absenteeism at Work dataset using the .describe() and groupby methods.

You can find the data source in the [UCI Machine Learning Library](https://archive.ics.uci.edu/ml/datasets/Absenteeism+at+work) along with additional information about what each element represents. 

Note: The data that provides information on other data is referred to as `metadata`.

### Step 1: Upload data

In [ ]:
from google.colab import files
absenteeism = files.upload()

Saving absenteeism.csv to absenteeism.csv

### Step 2: Import libraries and read csv as a dataframe
* Make sure to use pd.read_csv('Absenteeism_at_work', sep=';') because the data is semicolon separated.

In [ ]:
import pandas as pd
import numpy as np

absenteeism = pd.read_csv('absenteeism.csv', sep=',')

In [ ]:
absenteeism.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239.554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239.554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239.554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,2

### Step 3: How large is the dataset?

Use dataframe.shape to get the (# columns, # rows)

In [ ]:
absenteeism.shape

(740, 21)

### Step 4: Display the first 10 rows

In [ ]:
absenteeism.head(10)

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239.554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239.554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239.554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239.554,...,0,1,2,1,0,1,90,172,30,2
5,3,23,7,6,1,179,51,18,38,239.554,...,0,1,0,1,0,0,89,170,31,2
6,10,22,7,6,1,361,52,3,28,239.554,...,0,1,1,1,0,4,80,172,27,8
7,20,23,7,6,1,260,50,11,36,239.554,...,0,1,4,1,0,0,65,168,23,4
8,14,19,7,2,1,155,12,14,34,239.554,...,0,1,2,1,0,0,95,196,25,40
9,1,22,7,2,1,235,11,14,37,239.554,...,0,3,1,0,0,1,88,172,29,8

### Step 5: What are the data types?

In [ ]:
# Run .dtypes on the dataframe to see the data types
absenteeism.dtypes

ID                                   int64
Reason for absence                   int64
Month of absence                     int64
Day of the week                      int64
Seasons                              int64
Transportation expense               int64
Distance from Residence to Work      int64
Service time                         int64
Age                                  int64
Work load Average/day              float64
Hit target                           int64
Disciplinary failure                 int64
Education                            int64
Son                                  int64
Social drinker                       int64
Social smoker                        int64
Pet                                  int64
Weight                               int64
Height                               int64
Body mass index                      int64
Absenteeism time in hours            int64
dtype: object

### Step 6: Describe

Use .describe() in the code cell below to see an overview of numeric data.

In [ ]:
absenteeism.describe(include = 'all')

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
count,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,...,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000
mean,18.017568,19.216216,6.324324,3.914865,2.544595,221.329730,29.631081,12.554054,36.450000,271.490235,...,0.054054,1.291892,1.018919,0.567568,0.072973,0.745946,79.035135,172.114865,26.677027,6.924324
std,11.021247,8.433406,3.436287,1.421675,1.111831,66.952223,14.836788,4.384873,6.478772,39.058116,...,0.226277,0.673238,1.098489,0.495749,0.260268,1.318258,12.883211,6.034995,4.285452,13.330998
min,1.000000,0.000000,0.000000,2.000000,1.000000,118.000000,5.000000,1.000000,27.000000,205.917000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,56.000000,163.000000,19.000000,0.000000
25%,9.000000,13.000000,3.000000,3.000000,2.000000,179.000000,16.000000,9.000000,31.000000,244.387000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,69.000000,169.000000,24.000000,2.000000
50%,18.000000,23.000000,6.000000,4.000000,3.000000,225.000000,26.000000,13.000000,37.000000,264.249000,...,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,83.000000,170.000000,25.000000,3.000000
75%,28.000000,26.000000,9.000000,5.000000,4.000000,260.000000,50.000000,16.000000,40.000000,294.217000,...,0.000000,1.000000,2.000000,1.000000,0.000000,1.000000,89.000000,172.000000,31.000000,8.000000
max,36.000000,28.000000,12.000000,6.000000,4.000000,388.000000,52.000000,29.000000,58.000000,378.884000,...,1.000000,4.000000,4.000000,1.000000,1.000000,8.000000,108.000000,196.000000,38.000000,120.000000

### Step 7: Group by

Based on the first 10 rows, we see that some of the ID column numbers are duplicates. This probably means that each row is an absence and each ID is an employee. If we want to see all the absences for each employee, we will need to group by ID.

Use groupby on ID and return the sum of `Abesnteeism time in hours` for each ID.

In [ ]:
absenteeism.groupby('ID').sum()['Absenteeism time in hours'].sort_values(ascending=False)

ID
3     482
14    476
11    450
28    347
34    344
36    311
20    306
9     262
24    254
15    253
22    253
10    186
13    183
17    126
1     121
18    118
5     104
26     83
33     73
6      72
25     42
23     40
12     34
30     31
7      30
27     27
2      25
29     21
31     16
32     16
16     16
21     16
19      6
8       0
4       0
35      0
Name: Absenteeism time in hours, dtype: int64

Congratulations! Now you have practice exploring a dataset. These are just some possible data exploration techniques, feel free to continue exploring this dataset in the cells below.